

.header{
  color:beige;
  background-color: lightseagreen;
  height:60px;
  padding: 10px;
  font-weight: bolder;
  font-size: large;
  text-align: center;
}
p,label{
  color: white  ;
}
.drag-drop{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height: 50vh;
  border-radius: 5px;
  width: 500px;
  margin: auto;
  border: 8px solid rgb(17, 24, 40);  
  margin-top: 50px;
  cursor: pointer;
  text-align: center;
  background-color: rgb(31, 42, 56);
  position: relative;
}
.outerdrag{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  /* background-color: rgb(6, 2, 2); */
  border: 1px solid black;
  width:550px;
  margin: auto;
  

}

.submit{
 border: none;
 border-radius: 10px;
 color: bisque;
 background-color: rgba(291, 94, 15);
 font-size: 20px;
 width: 400px;
 margin-top: 20px;
 margin-bottom: 10px;
}
.upload{
  color: rgb(0, 0, 0);
  font-size: 15px;
  display: none;
 }

 
.prevfile{
    display: flex;
  flex-direction: row;
  /* margin:auto; */
  width:min-content;
  background-color:rgb(62, 71, 86);
  margin-left: 40px;
  /* height: 900px; */
 margin-top: 10px;

}
.maindiv{
  display: flex; 
  background-color:rgb(11, 15, 26);
  justify-content: space-around;
  height:100vh;



 }

.button{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-left: 3%;
  margin-top: 30px;
  
}


/* .aligndropbox{
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: row;
  background-color: red;
} */

/* .innerelement{
  display: flex;
  flex-direction: column;
  padding: 5px;
 
} */
.popup {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999; /* Ensure it appears above other content */
}

.popup-inner {
  /* Adjust as needed for internal content layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   gap: 10px ;/* Space between elements within popup */
  
}
.previousfile{
  margin-top: 50px;
}
/* .fetchview{
  background-color:blue;
  height: 100lvh
} */
/* h6
{font-size: large;
background-color: brown;
color: blue;} */


.dataview{
  color: black;
}


.result-container {
  display: flex; /* Make the container a flexbox */
  flex-direction: row;  /* Arrange elements side-by-side */
  width: 100%; /* Take full width of the screen */
}

.data-section,
.preview-section {
  flex: 1; /* Make each section occupy half the width */
  padding: 10px;  /* Add some padding for aesthetics */
}

.preview-section img,
.preview-section iframe {
  max-width: 100%;  /* Ensure image/PDF doesn't overflow */
  height: auto;  /* Adjust height based on content */
}





